<template>
<div>
  <vueApexChart width="500" type="bar" :options="options" :series="series"></vueApexChart>
</div>
</template>

<script>
 import vueApexChart from "vue3-apexcharts";


export default {
  mounted(){
    this.fetchDate();
  },
  components: {vueApexChart},
    data() {
    return {
      options: {
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998]
        }
      },
      series: [{
        name: 'series-1',
        data: [30, 40, 45, 50, 49, 60, 70, 91]
      }],
      fetchingInterval: null
    }
},
  methods: {
    setFetchingInterval() {
      this.fetchingInterval = setInterval(() => this.$fetch(), 40000);
    },
    async fetchDate(){
      console.log();
       await fetch(
        "http://127.0.0.1:5000/get_cluster_chart?cluster=1&epsilon=1&min_pts=1",
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json; charset=utf-8",
          },
        }
    ).then(response => {
      if (!response.ok) {
        throw new Error("Network request failed");
      }
      console.log(response.json);
      return response.json();
    });
    }
  },
  beforeDestroy() {
    clearInterval(this.fetchingInterval);
  }

}
</script>

<style lang="scss" scoped>

</style>