<template>
  <div>
<Barchart/>
  </div>
</template>

<script>

import Barchart from '@/components/Barchart.vue';
  export default {
  components: { Barchart }
  }
</script>

<style lang="scss" scoped>

</style>