<template>
<div>
  <vueApexChart width="500" type="bar" :options="options" :series="series"></vueApexChart>
</div>
</template>

<script>
import vueApexChart from 'vue-apexcharts'


export default {
  mounted(){
    
  },
  components: {vueApexChart},
    data() {
    return {
      options: {
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998]
        }
      },
      series: [{
        name: 'series-1',
        data: [30, 40, 45, 50, 49, 60, 70, 91]
      }]
    }
},
 async fetch() {
     await fetch(
        new URL("production/plantTimeAnalysis", this.$nuxt.context.$config.API_BASE_PATH).toString(),
        {
          method: "GET",
          headers: {
            "Content-Type": "application/json; charset=utf-8",
          },
        }
    ).then(response => {
      if (!response.ok) {
        throw new Error("Network request failed");
      }
      this.initialized = true;
      return response.json();
    });
  }

}
</script>

<style lang="scss" scoped>

</style>